nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 14px;
}

nav {
  box-sizing: border-box;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  margin: 15px;
  list-style: none;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
}

li a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}
h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

p {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-size: 13px;
}

.boxed {
  border: 0.5px solid black;
  padding: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 150px;
  align-content: center;
  justify-content: center;
  font-size: 13px;
}
nav .logo {
  float: left;
  color: white;
  padding-left: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  max-height: 70px;
  max-width: 70px;
}
img {
  max-width: 400px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
  padding: 5vw;
}

.smallProduct {
  grid-column: 2;
}

.purchaseBox {
  grid-column: 1;
}
