* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li,
a {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.account,
.search,
.heart,
.basket {
  max-width: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.account:hover {
  opacity: 70%;
}

.search:hover {
  opacity: 70%;
}

.heart:hover {
  opacity: 70%;
}

.basket:hover {
  opacity: 70%;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  animation-name: bounce2;
  animation-duration: 0.8s;
}

.nav_links {
  list-style: none;
  margin-left: 35px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  margin-top: 2px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color: grey;
  cursor: pointer;
  text-decoration-line: underline;
}

.icons {
  padding: 9px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.breadcrumbs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "bread";
}

.bread {
  grid-area: bread;
  padding: 0px 10%;
}

.bread p {
  color: grey;
}

.bread a {
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 40px;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

p {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: light;
  font-size: 12px;
  color: black;
}

.boxed {
  border: 0.5px solid black;
  padding: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 150px;
  align-content: center;
  justify-content: center;
  font-size: 13px;
}

.logo {
  max-height: 70px;
  max-width: 150px;
}

.smallProduct img {
  max-width: 400px;
  margin-bottom: 4vw;
}

.smallProduct img:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}

.smallProduct {
  position: relative;
  text-align: center;
}

.text {
  display: none;
  position: absolute;
  bottom: 8px;
  left: 18px;
}

.text2 {
  display: none;
  position: absolute;
  bottom: 8px;
  right: 18px;
}

.color-dots {
  display: none;
  position: absolute;
  top: 8px;
  right: 18px;
}

.recycle {
  display: none;
  position: absolute;
  top: 8px;
  left: 20px;
  color: grey;
}

.smallProduct:hover .text {
  display: block;
  animation-name: smooth;
  animation-duration: 1s;
}

.smallProduct:hover .text2 {
  display: block;
  animation-name: smooth;
  animation-duration: 1s;
}

.smallProduct:hover .color-dots {
  display: block;
  animation-name: smooth;
  animation-duration: 1s;
}
.smallProduct:hover .recycle {
  display: block;
  animation-name: smooth;
  animation-duration: 1s;
}

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
.smallProduct img:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}


@keyframes bounce2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
*/

.smallProduct {
  grid-column: 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
  margin-left: 10vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
  padding: 5vw;
}

.purchaseBox {
  grid-column: 1;
  margin-top: 4vw;
  margin-left: 3vw;
}

.info {
  margin-top: 2vw;
  margin-right: 2vw;
}

.info p {
  font-size: 15px;
}

.purchaseBox h2 {
  font-size: 25px;
}

.boxed {
  margin-top: 2vw;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.boxed p {
  font-size: 15px;
}

.details {
  margin-top: 2vw;
}

.delivery {
  margin-top: 1vw;
}

.products a {
  text-decoration: none;
  color: black;
}

.products a:hover {
  color: blue;
}

.products .smallProduct {
  text-align: center;
  font-weight: 300;
  font-style: normal;
  margin-top: 10px;
}

.image {
  width: 60%;
  margin-top: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
}
.productlist {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.fadeInLoad {
  animation: fadeInLoad 0.5s;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  margin-bottom: 7px;
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0;
}

.tour__gallery {
  margin: 20px auto;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.picture__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: 500%;
}
.carousel__image {
  list-style: none;
  flex-shrink: 0;
  flex-basis: 20%;
  height: 100%;
  padding-bottom: 0;
}
.carousel__image img {
  min-width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.controls .btn--next {
  margin-top: 0;
  padding: 15px;
  position: absolute;
  right: 0px;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: grey;
  font-size: 24px;
}
.controls .btn--prev {
  margin-top: 0;
  padding: 15px;
  position: absolute;
  left: 0px;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: grey;
  font-size: 24px;
}

i {
  background: none;
}

@media screen and (max-width: 768px) {
  .tour__gallery {
    float: none;
    width: 100%;
  }
  .tour__gallery {
    min-height: 300px;
    max-height: 300px;
  }
  .tour__gallery img {
    height: 300px;
  }
  .controls .btn--next,
  .controls .btn--prev {
    background: #7b666663 !important;
  }
}

@media (max-width: 900px) {
  .nav_links {
    display: none;
  }

  .icons {
    display: none;
  }

  .nav_links.show {
    display: flex;
  }

  .hamburger {
    margin-top: 10px;
    margin-left: 60vw;
    display: block;
  }
}

@media (max-width: 850px) {
  .smallProduct img {
    max-width: 350px;
    margin-bottom: 4vw;
  }

  h1 {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .smallProduct img {
    max-width: 300px;
    margin-bottom: 4vw;
  }

  h1 {
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  .smallProduct img {
    max-width: 280px;
    margin-bottom: 5vw;
  }

  .smallProduct {
    margin: 10px;
  }

  h1 {
    font-size: 25px;
  }

  .text {
    display: block;
  }

  .text2 {
    display: block;
  }

  p {
    font-size: 10px;
    color: grey;
  }
}

@media (max-width: 700px) {
  .smallProduct img {
    max-width: 240px;
    margin-bottom: 5vw;
  }

  .text {
    display: block;
    bottom: 3px;
  }

  .text2 {
    display: block;
    bottom: 3px;
  }
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .smallProduct img {
    max-width: 250px;
    margin-bottom: 5vw;
  }

  .text {
    display: block;
    bottom: 3px;
  }

  .text2 {
    display: block;
    bottom: 3px;
  }
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .smallProduct img {
    max-width: 240px;
    margin-bottom: 5vw;
  }

  .hamburger {
    margin-left: 25vw;
  }
}

@media (max-width: 600px) {
  .smallProduct img {
    max-width: 200px;
    margin-bottom: 5vw;
  }
}

@media (max-width: 500px) {
  .smallProduct img {
    max-width: 160px;
    margin-bottom: 5vw;
  }
  .text {
    display: block;
    bottom: -2px;
  }

  .text2 {
    display: block;
    bottom: -2px;
  }
}

@media (max-width: 450px) {
  .smallProduct img {
    max-width: 130px;
    margin-bottom: 5vw;
  }
  p {
    font-size: 8px;
  }
  .text {
    display: block;
    bottom: -2px;
  }

  .text2 {
    display: block;
    bottom: -2px;
  }
  h1 {
    font-size: 15px;
    margin-bottom: 0px;
  }
}

@media (max-width: 350px) {
  .smallProduct img {
    max-width: 100px;
    margin-bottom: 5vw;
  }

  h1 {
    margin-top: 40px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }
}
