* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li,
a {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.account,
.search,
.heart,
.basket {
  max-width: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  margin-left: 30px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  margin-top: 2px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color: grey;
  cursor: pointer;
  text-decoration-line: underline;
}

.icons {
  padding: 9px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 40px;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

p {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: light;
  font-size: 12px;
}

.boxed {
  border: 0.5px solid black;
  padding: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 150px;
  align-content: center;
  justify-content: center;
  font-size: 13px;
}

.logo {
  max-height: 70px;
  max-width: 150px;
}

.smallProduct img {
  max-width: 400px;
  margin-bottom: 4vw;
}

.smallProduct img:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}

@keyframes bounce2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
  padding: 5vw;
}

.smallProduct {
  grid-column: 2;
}

.purchaseBox {
  grid-column: 1;
}

.products a {
  text-decoration: none;
  color: black;
}

.products a:hover {
  color: blue;
}

.products .smallProduct {
  text-align: center;
  font-weight: 300;
  font-style: normal;
  margin-top: 10px;
}

.image {
  width: 60%;
  margin-top: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
}
.productlist {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.fadeInLoad {
  animation: fadeInLoad 0.5s;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
